{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Ponynote</title>
	</head>
	<body>
		<h1>PonyNote</h1>
		<form action="{% url 'create-note' %}" method="post">
			{% csrf_token %}
			<input type="text" name="text" />
			<button type="submit">Add</button>
		</form>
		<table>
		{% for object in object_list %}
			<tr>
				<td>{{ object.text }}</td>
				<td>
					<form method="post" action="{% url 'delete-note' object.id %}">{% csrf_token %}
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
		</table>  
	</body>
</html>